<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="kr.co.stella.modeler.perspective.StellaPerspectiveFactory"
            id="kr.co.stella.modeler.perspective.stellaPerspective"
            name="Stella">
         <description>
            description body text
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="kr.co.stella.modeler.perspective.stellaPerspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.8"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="kr.co.stella.modeler.perspective.stellaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <perspectiveShortcut
               id="kr.co.stella.modeler.perspective.stellaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.papyrus.infra.core.perspective">
         <perspectiveShortcut
               id="kr.co.stella.modeler.perspective.stellaPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
